.container {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

@media screen and (min-width: 480px) {
  .container {
    margin-right: auto;
    margin-left: auto;
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1680px) {
  .container {
    width: 1680px;
  }
}
