:root {
    --primary-font-family: 'Montserrat', sans-serif;
    --basic-font-size-mobile: 12px;
    --basic-font-size-tablet: 14px;
    --basic-font-size-desktop: 18px;
    --text-letter-spacing: 0.08em;
    --headers-letter-spacing: 0.03em;
    --button-letter-spacing: 0.14em;

    --body-background-color: #ffffff;
    --accent-color: #FF6B09;
    --light-text-color: #B9B9B9;
    --dark-text-color: #111518;
    --grey-text-color: #B9B9B9;
    --dark-decorative-color: #3D3D3D;
    --vk-icon-color: #436EAB;
}
