:root {
  --primary-font-family: 'Montserrat', sans-serif;

  --main-body-background-color: #ffffff;
  --dark-body-background-color: #111518;
  --light-body-background-color: #f1f1f1;

  --dark-text-color: #111518;
  --grey-text-color: #b9b9b9;
  --white-text-color: #ffffff;

  --dark-decorative-color: #3d3d3d;
  --accent-color: #ff6b09;
  --vk-icon-color: #436eab;
}
