:root {
  --primary-font-family: 'Montserrat', sans-serif;


    --main-body-background-color: #ffffff;
    --dark-body-background-color: #111518;
    --light-body-background-color: #F1F1F1;
    
    --dark-text-color: #111518;
    --grey-text-color: #B9B9B9;
    --white-text-color: #ffffff;
    --error-message-color: #f44336;
    
    --dark-decorative-color: #3D3D3D;
    --accent-color: #FF6B09;
    --vk-icon-color: #436EAB;

    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
