
<section class="about" id="about-section">
    <div class="container">
        <h2 class="about__title">Teacher</h2>
        <div class="about__wrapper">
                <picture>
                    <source media="(min-width: 1366px)" srcset="images/teacher-img/teacher-img@1x-desktop.webp 1x, images/teacher-img/teacher-img@2x-desktop.webp 2x" type="image/webp">
                    <source srcset="images/teacher-img/teacher-img@1x-desktop.jpg 1x, images/teacher-img/teacher-img@2x-desktop.jpg 2x" media="(min-width: 1366px)">
                    
                    <source media="(min-width: 768px)" srcset="images/teacher-img/teacher-img@1x-tablet.webp 1x, images/teacher-img/teacher-img@2x-tablet.webp 2x" type="image/webp">
                    <source srcset="images/teacher-img/teacher-img@1x-tablet.jpg 1x, images/teacher-img/teacher-img@2x-tablet.jpg 2x" media="(min-width: 768px)">
        
                    <source media="(max-width: 767px)" srcset="images/teacher-img/teacher-img@1x-mobile.webp 1x, images/teacher-img/teacher-img@2x-mobile.webp 2x" type="image/webp">
                    <source srcset="images/teacher-img/teacher-img@1x-mobile.jpg 1x, images/teacher-img/teacher-img@2x-mobile.jpg 2x" media="(max-width: 767px)">
                      
                    <img class="about__img" src="images/teacher-img/teacher-img@1x-tablet.jpg" alt="Elena Moreva">
                </picture>
            
            <div class="about__block">
                <h3 class="about__subtitle">Elena Moreva</h3>
                <ul class="about__list">
                    <li class="about__items">6 years of experience in preparing students for UPE</li>
                    <li class="about__items">Own result of passing VNO - 197 points 2 years in a row</li>
                    <li class="about__items">Passed excellent at the international analogue of UPE - Cambridge PET (Preliminary English Test)</li>
                </ul>
                <div class="about__text">
                    <p class="about__description">Graduated from the Institute of International Relations of the NAU with a degree in translator-analyst.</p>
                    <p class="about__description">In spare time takes courses from the best universities in the world on effective teaching and essay writing techniques.
                    <p class="about__description">Completed: English Grammar and Essay Writing (Berkeley), English Grammar & Style (The University of Queesland), 
                    How to Write an Essay (Berkeley), Academic and Business Writing (Berkeley), The Art of Teaching (GEMS education), 
                    Powerful Tools for Teaching and Learning (University of Houston).</p>
                </div>
                <a class="about__link" href="https://en.wikipedia.org/wiki/Certificate_in_Teaching_English_to_Speakers_of_Other_Languages" target="_blank" rel="noopener noreferrer">Cambrige English Entry Level Certificate</a>
            </div>
        </div>
        

    </div>
</section>