<section class="section about">
    <div class="container about__container">
        <h2 class="about__title">Teacher</h2>
        <!-- <picture>
            <source media="(min-width: 1366px)" srcset="#" type="image/webp">
            <source srcset="#" media="(min-width: 1366px)">
            
            <source media="(min-width: 768px)" srcset="#" type="image/webp">
            <source srcset=".#" media="(min-width: 768px)">

            <source media="(max-width: 767px)" srcset="#" type="image/webp">
            <source srcset="#" media="(max-width: 767px)">
                
            <img class="about__img" src="#" alt="Elena Moreva">
        </picture> -->
        <div class="about__block">
            <h3 class="about__subtitle">Elena Moreva</h3>
            <ul class="about__list">
                <li class="about__items">6 years of experience in preparing students for UPE</li>
                <li class="about__items">Own result of passing VNO - 197 points 2 years in a row</li>
                <li class="about__items">Passed excellent at the international analogue of UPE - Cambridge PET (Preliminary English Test)</li>
            </ul>
            <p class="about__description">Graduated from the Institute of International Relations of the NAU with a degree in translator-analyst.</p>
            <p class="about__description">In spare time takes courses from the best universities in the world on effective teaching and essay writing techniques.
            <p class="about__description">Completed: English Grammar and Essay Writing (Berkeley), English Grammar & Style (The University of Queesland), 
            How to Write an Essay (Berkeley), Academic and Business Writing (Berkeley), The Art of Teaching (GEMS education), 
            Powerful Tools for Teaching and Learning (University of Houston).</p>
            <a href="">Cambrige English Entry Level Certificate</a>
        </div>

    </div>
</section>