<section class="advantages">
    <div class="container">
        <h2>Advantages</h2>
        <ul class="advantages__list">
            <li class="advantages__item">
                <h3 class="advantages__title">Adapted author's
                    UPE program</h3>
            </li>
            <li class="advantages__item">
                <h3 class="advantages__title">Modern
                    teaching methods</h3>
            </li>
            <li class="advantages__item">
                <h3 class="advantages__title">Financial guarantee
                    the result</h3>
            </li>
        </ul>
    </div>    
</section>