<section class="benefits">
    <div class="container">

    <h2 class="benefits__title">Why do people choose us</h2>

    <ul class="benefits__list">

        <li class="benefits__item">
            Training in small groups
        </li>

        <li class="benefits__item">   
            Rendered notes
        </li>

        <li class="benefits__item">
            Each lesson has a goal and a specific result
        </li>

        <li class="benefits__item">
            The real results of the teacher
        </li>

        <li class="benefits__item">
            The course program meets the requirements of the MES of Ukraine
        </li>

        <li class="benefits__item">
            Set of groups by level of knowledge
        </li>

    </ul>
</div>
</section>