<section class="section">
  <container class="container">
    <h2 class="section__header">
      Registration for a free phone consultation on the nuances of English UPE
    </h2>
    <form action="" class="form">
      <h4 class="form__header">
        Leave a request for participation in a free lesson. A consultant will contact you and answer
        your questions
      </h4>
      <input type="text" class="form__input" />
      <input type="text" class="form__input" />
      <button class="form_button" type="submit">I want a free lesson</button>
    </form>
  </container>
</section>
