<section class="contacts">
  <container class="container contacts__container">
    <div class="container contacts__text-container">
      <h2 class="contacts__header">
        Registration for a <span class="contacts__header-accent">free</span> phone
        <span class="contacts__header-accent">consultation</span> on the nuances of English UPE
      </h2>
    </div>
    <div class="container contacts__form-container">
      <form action="" class="contacts__form">
        <h4 class="contacts__form-header">
          Leave a request for participation in a
          <span class="contacts__header-accent">free lesson</span>. A consultant will contact you
          and answer your questions
        </h4>
        <input type="text" class="contacts__form-input" />
        <input type="text" class="contacts__form-input" />
        <button class="contacts__form-button" type="submit">I want a free lesson</button>
      </form>
    </div>
  </container>
</section>
