<section class="contacts">
  <div class="container">
    <h2 class="contacts__header">
      Registration for a <span class="contacts__header-accent">free</span> phone
      <span class="contacts__header-accent">consultation</span> on the nuances of English UPE
    </h2>
    <form action="" class="contacts__form">
      <h3 class="contacts__form-header">
        Leave a request for participation in a
        <span class="contacts__header-accent">free lesson</span>. <br />
        A consultant will contact you and answer your questions
      </h3>
      <input
        type="text"
        name="name"
        class="contacts__form-input"
        placeholder="Name*"
        required
        pattern=""
      />
      <input
        type="tel"
        name="tel"
        class="contacts__form-input"
        placeholder="Phone*"
        required
        pattern=""
      />
    </form>
    <div class="contacts__form-button-wrapper">
      <button class="contacts__form-button" type="submit">I want a free lesson</button>
    </div>
  </div>
</section>
