<section class="footer">
    <div class="footer__bg-light">
        <div class="container container__bg-light">
            <a class="logo-mobile" href="">
                <svg width="80" height="29">
                    <use href="./images/sprite.svg#icon-logo-main"></use>
                </svg>
            </a>
            <a class="logo" href="">
                <p class="logo__title">
                    <span class="logo__title_left-side">Hell</span>
                    <svg class="logo__icon" width="22" height="30">
                        <use href="./images/sprite.svg#icon-fire"></use>
                    </svg>
                    <span class="logo__title_right-side">EN</span>
                </p>
                <p class="logo__subscription"><span class="logo__subscription_accent">HELLISH</span> ENGLISH</p>
            </a>
            <div class="footer__right-side">
                <a class="footer__tel" href="tel:+380000000000">
                    <svg class="footer__icon-phone">
                        <use href="./images/sprite.svg#icon-phone"></use>
                    </svg>
                    +38 (000) 000 00 00</a>
                <a class="footer__social-link" href="https://www.instagram.com/" target="_blank" rel="noreferrer noopener"></a>
            </div>
            
        </div>

    </div>
    <div class="footer__bg-dark">
        <div class="container">
            <p class="footer__copyright">@ All rights reserved, 2019</p>
        </div>
    </div>
</section>