<section class="footer">
    <div class="footer__bg-light">
        <div class="container container__bg-light">
            <a class="footer__logo" href=""></a>
            <a class="footer__tel" href="tel:+380000000000">
                <svg class="footer__icon-phone" width="20" height="19">
                    <use href="./images/sprite.svg#icon-phone"></use>
                </svg>
                +38 (000) 000 00 00</a>
            <a class="footer__social-link" href="https://www.instagram.com/" target="_blank" rel="noreferrer noopener"></a>
        </div>

    </div>
    <div class="footer__bg-dark">
        <div class="container">
            <p class="footer__copyright">@ All rights reserved, 2019</p>
        </div>
    </div>
</section>