<section class="hero section">
    <div class="container hero-container">

        <div class="hero__content">
        <h1 class="hero-title">Complex preparation for English UPE</h1>
        <div class="hero-text">
            <p class="text-first">It won’t be easy.
                <div class="text-second-third">
               <span class="text-second">But you are guaranteed to get</span>
               <span class="text-third">+25 points</span>
                </div>
            </p>
       </div>
        <div class="hero-button">
        <a href="#contacts">
        <button type="button" class="hero-btn">I want a free lesson</button>
        </a>
        </div>
    </div>
        <picture class="hero-img animate__animated animate__backInDown">
            <source media="(min-width: 1680px)" srcset="images/hero-img/hero-img@1x-desktop.png 1x, images/hero-img/hero-img@2x-desktop.png 2x" type="image/webp">
            <source srcset="images/hero-img/hero-img@1x-desktop.png 1x, images/hero-img/hero-img@2x-desktop.png 2x" media="(min-width: 1680px)">
            
            <source media="(min-width: 768px)" srcset="images/hero-img/hero-img@1x-tablet.png 1x, images/hero-img/hero-img@2x-tablet.png 2x" type="image/webp">
            <source srcset="images/hero-img/hero-img@1x-tablet.jpg 1x, images/hero-img/hero-img@2x-tablet.jpg 2x" media="(min-width: 768px)">

            <source media="(max-width: 767px)" srcset="images/hero-img/hero-img@1x-mobile.png 1x, images/hero-img/hero-img@2x-mobile.png 2x" type="image/webp">
            <source srcset="images/hero-img/hero-img@1x-mobile.png 1x, images/hero-img/hero-img@2x-mobile.png 2x" media="(max-width: 767px)">
              
            <img class="hero__img" src="images/hero-img/hero-img@1x-tablet.jpg" alt="Working">
        </picture>
    </div>
</section>
