<section class="program section">
  <h2 class="subtitle subtitle_theme_dark">Our program</h2>

  <div class="program-container">
    <ul class="semester-list">
      <li class="semester-list__item">
        <h3 class="section-subtitle semester-list__section-subtitle">1 semester</h3>
        <ul class="program-list">
          <li class="program-list__item">
            <ul class="grammar-list">
              <h4 class="program-list__subtitle">Grammar</h4>
              <li class="grammar-list__item">
                <p class="description">Nouns & Articles</p>
                <p class="description">Adjectives & Adverb</p>
              </li>
            </ul>
          </li>
          <li class="program-list__item">
            <ul class="vocabulary-list">
              <h4 class="program-list__subtitle">Vocabulary</h4>
              <li class="vocabulary-list__item">
                <p class="description">Family & Relations</p>
                <p class="description">People & Society</p>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="semester-list__item">
        <h3 class="section-subtitle semester-list__section-subtitle">2 semester</h3>
        <ul class="program-list">
          <li class="program-list__item">
            <ul class="grammar-list">
              <h4 class="program-list__subtitle">Grammar</h4>
              <li class="grammar-list__item">
                <p class="description">Pronouns</p>
                <p class="description">Active Voice</p>
                <p class="description">Passive Voice</p>
              </li>
            </ul>
          </li>
          <li class="program-list__item">
            <ul class="vocabulary-list">
              <h4 class="program-list__subtitle">Vocabulary</h4>
              <li class="vocabulary-list__item">
                <p class="description">Home</p>
                <p class="description">School</p>
                <p class="description">Work</p>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="semester-list__item">
        <h3 class="section-subtitle semester-list__section-subtitle">3 semester</h3>
        <ul class="program-list">
          <li class="program-list__item">
            <ul class="grammar-list">
              <h4 class="program-list__subtitle">Grammar</h4>
              <li class="grammar-list__item">
                <p class="description">Modal verbs</p>
                <p class="description">Infinitive</p>
                <p class="description">Gerund</p>
                <p class="description">Participle: 1, 2</p>
              </li>
            </ul>
          </li>
          <li class="program-list__item">
            <ul class="vocabulary-list">
              <h4 class="program-list__subtitle">Vocabulary</h4>
              <li class="vocabulary-list__item">
                <p class="description">Family & Relations</p>
                <p class="description">People & Society</p>
              </li>
            </ul>
          </li>
          <li class="program-list__item">
            <ul class="writing-list">
              <h4 class="program-list__subtitle">Writing</h4>
              <li class="writing-list__item">
                <p class="description">Informal Letter</p>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="semester-list__item">
        <h3 class="section-subtitle semester-list__section-subtitle">4 semester</h3>
        <ul class="program-list">
          <li class="program-list__item">
            <ul class="grammar-list">
              <h4 class="program-list__subtitle">Grammar</h4>
              <li class="grammar-list__item">
                <p class="description">Clauses: Conditional and Wishes</p>
                <p class="description">Direct / Reported speech</p>
                <p class="description">Preposition</p>
                <p class="description">Conjunction</p>
                <p class="description">Numeral</p>
              </li>
            </ul>
          </li>
          <li class="program-list__item">
            <ul class="vocabulary-list">
              <h4 class="program-list__subtitle">Vocabulary</h4>
              <li class="vocabulary-list__item">
                <p class="description">Healthy Living</p>
                <p class="description">Nature & Environment</p>
                <p class="description">Money</p>
              </li>
            </ul>
          </li>
          <li class="program-list__item">
            <ul class="writing-list">
              <h4 class="program-list__subtitle">Writing</h4>
              <li class="writing-list__item">
                <p class="description">Informal Letter</p>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="semester-list__item">
        <h3 class="section-subtitle semester-list__section-subtitle">5 semester</h3>
        <ul class="program-list">
          <li class="program-list__item">
            <ul class="grammar-list">
              <h4 class="program-list__subtitle"></h4>
              <li class="grammar-list__item">
                <p class="description">Revision</p>
                <p class="description">Tests</p>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
