<section class="program section">
  <div class="container program__container">
    <h2 class="section-title section-title_theme_dark program__section-title">Our program</h2>
    <div class="semester-list-container">
      <ul class="semester-list">
        <li class="semester-list__item">
          <h3 class="section-subtitle section-subtitle_theme_dark semester-list__section-subtitle">
            1 semester
          </h3>
          <ul class="program-list">
            <li class="program-list__item">
              <h4 class="program-list__subtitle">Grammar</h4>
              <ul class="grammar-list">
                <li class="grammar-list__item">
                  <p class="description program-list__description">Nouns & Articles</p>
                </li>
                <li class="grammar-list__item">
                  <p class="description program-list__description">Adjectives & Adverb</p>
                </li>
              </ul>
            </li>
            <li class="program-list__item">
              <h4 class="program-list__subtitle">Vocabulary</h4>
              <ul class="vocabulary-list">
                <li class="vocabulary-list__item">
                  <p class="description program-list__description">Family & Relations</p>
                </li>
                <li class="vocabulary-list__item">
                  <p class="description program-list__description">People & Society</p>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="semester-list__item">
          <h3 class="section-subtitle section-subtitle_theme_dark semester-list__section-subtitle">
            2 semester
          </h3>
          <ul class="program-list">
            <li class="program-list__item">
              <h4 class="program-list__subtitle">Grammar</h4>
              <ul class="grammar-list">
                <li class="grammar-list__item">
                  <p class="description program-list__description">Pronouns</p>
                </li>
                <li class="grammar-list__item">
                  <p class="description program-list__description">Active Voice</p>
                </li>
                <li class="grammar-list__item">
                  <p class="description program-list__description">Passive Voice</p>
                </li>
              </ul>
            </li>
            <li class="program-list__item">
              <h4 class="program-list__subtitle">Vocabulary</h4>
              <ul class="vocabulary-list">
                <li class="vocabulary-list__item">
                  <p class="description program-list__description">Home</p>
                </li>
                <li class="vocabulary-list__item">
                  <p class="description program-list__description">School</p>
                </li>
                <li class="vocabulary-list__item">
                  <p class="description program-list__description">Work</p>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="semester-list__item">
          <h3 class="section-subtitle section-subtitle_theme_dark semester-list__section-subtitle">
            3 semester
          </h3>
          <ul class="program-list">
            <li class="program-list__item">
              <h4 class="program-list__subtitle">Grammar</h4>
              <ul class="grammar-list">
                <li class="grammar-list__item">
                  <p class="description program-list__description">Modal verbs</p>
                </li>
                <li class="grammar-list__item">
                  <p class="description program-list__description">Infinitive</p>
                </li>
                <li class="grammar-list__item">
                  <p class="description program-list__description">Gerund</p>
                </li>
                <li class="grammar-list__item">
                  <p class="description program-list__description">Participle: 1, 2</p>
                </li>
              </ul>
            </li>
            <li class="program-list__item">
              <h4 class="program-list__subtitle">Vocabulary</h4>
              <ul class="vocabulary-list">
                <li class="vocabulary-list__item">
                  <p class="description program-list__description">Travel & Tourism</p>
                </li>
                <li class="vocabulary-list__item">
                  <p class="description program-list__description">Culture & Free Time</p>
                </li>
                <li class="vocabulary-list__item">
                  <p class="description program-list__description">Sport</p>
                </li>
              </ul>
            </li>
            <li class="program-list__item">
              <h4 class="program-list__subtitle">Writing</h4>
              <ul class="writing-list">
                <li class="writing-list__item">
                  <p class="description program-list__description">Informal Letter</p>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="semester-list__item">
          <h3 class="section-subtitle section-subtitle_theme_dark semester-list__section-subtitle">
            4 semester
          </h3>
          <ul class="program-list">
            <li class="program-list__item">
              <h4 class="program-list__subtitle">Grammar</h4>
              <ul class="grammar-list">
                <li class="grammar-list__item">
                  <p class="description program-list__description">
                    Clauses: Conditional and Wishes
                  </p>
                </li>
                <li class="grammar-list__item">
                  <p class="description program-list__description">Direct / Reported speech</p>
                </li>
                <li class="grammar-list__item">
                  <p class="description program-list__description">Preposition</p>
                </li>
                <li class="grammar-list__item">
                  <p class="description program-list__description">Conjunction</p>
                </li>
                <li class="grammar-list__item">
                  <p class="description program-list__description">Numeral</p>
                </li>
              </ul>
            </li>
            <li class="program-list__item">
              <h4 class="program-list__subtitle">Vocabulary</h4>
              <ul class="vocabulary-list">
                <li class="vocabulary-list__item">
                  <p class="description program-list__description">Healthy Living</p>
                </li>
                <li class="vocabulary-list__item">
                  <p class="description program-list__description">Nature & Environment</p>
                </li>
                <li class="vocabulary-list__item">
                  <p class="description program-list__description">Money</p>
                </li>
              </ul>
            </li>
            <li class="program-list__item">
              <h4 class="program-list__subtitle">Writing</h4>
              <ul class="writing-list">
                <li class="writing-list__item">
                  <p class="description program-list__description">Formal Letter</p>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="semester-list__item">
          <h3 class="section-subtitle section-subtitle_theme_dark semester-list__section-subtitle">
            5 semester
          </h3>
          <ul class="program-list">
            <li class="program-list__item">
              <h4 class="program-list__subtitle program-list__subtitle_transparent">Audit</h4>
              <ul class="audit-list">
                <li class="audit-list__item">
                  <p class="description program-list__description">Revision</p>
                </li>
                <li class="audit-list__item">
                  <p class="description program-list__description">Tests</p>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</section>
