%btn {
    display: inline-block;
    background-color: var(--accent-color);
    color: var(--white-text-color);
    letter-spacing: 0.08em;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
            
    transition: background-color 250ms var(--timing-function);
}


.contacts__form-button {
    @extend %btn;
    width: 100%;
    min-height: 48px;
    @include font (12px, 700, 15px);

    &:hover,
    &:focus {
        background-color: var(--white-text-color);
        color: var(--accent-color);
        border: 1px solid var(--accent-color);
        outline: none;
    }

    @media screen and (min-width:1680px) {
    @include font (14px, 700, 17px);
    }
}


.hero-btn {
    @extend %btn; 
    width: 100%;
    @include font (12px, 700, 15px);
    
    &:hover,
    &:focus {
        background-color: var(--white-text-color);
        color: var(--accent-color);
        border: 1px solid var(--accent-color);
        outline: none;
    }

        @media screen and (min-width:480px) {
            max-width: 280px;
        }

        @media screen and (max-width:767px) {
            max-width: 260px;
        }


        @media screen and (min-width:1680px) {
            max-width: 354px;
            @include font (14px, 700, 17px);
        }
}