.contacts__form-button {
    display: inline-block;
    width: 100%;
    min-height: 48px;
    background-color: var(--accent-color);
    color: var(--white-text-color);
    letter-spacing: 0.08em;
    text-transform: uppercase;
    border: none;
    @include font (14px, 700, 17px);
    cursor: pointer;

    transition: background-color 250ms var(--timing-function);

    &:hover,
    &:focus {
        background-color: var(--white-text-color);
        color: var(--accent-color);
        border: 1px solid var(--accent-color);
        outline: none;
    }
}


.hero-btn {
   text-transform: uppercase;
   margin-bottom: 40px;
   cursor: pointer;  
   width: 280px;
   color: #FFFFFF;
   background: #FF6B09;
   border: #FF6B09;
   transition: background-color 250ms var(--timing-function);
    
    &:hover,
    &:focus {
        background-color: var(--white-text-color);
        color: var(--accent-color);
        border: 1px solid var(--accent-color);
        outline: none;
    }
}