/* for h1 */
.title {
  @include font(20px, 800, 26px);
  letter-spacing: 0.03em;
  color: var(--dark-text-color);
}

/* for h2 */
.section-title {
  @include font(20px, 800, 26px);
  letter-spacing: 0.03em;
}

.section-title_theme_light {
  color: var(--dark-text-color);
}

.section-title_theme_dark {
  color: var(--white-text-color);
}

/* for h3 */
.section-subtitle {
  @include font(14px, 700, 20px);
  letter-spacing: 0.08em;
}

.section-subtitle_theme_light {
  color: var(--dark-text-color);
}

.section-subtitle_theme_dark {
  color: var(--white-text-color);
}
/* for grey content */
.description {
  @include font(12px, 500, 20px);
  letter-spacing: 0.08em;
  color: var(--grey-text-color);
}

@media screen and (min-width: 768px) {
  .section-title {
    @include font(26px, 800, 34px);
  }
}

@media screen and (min-width: 1680px) {
  .title {
    @include font(58px, 800, 75px);
  }

  .section-title {
    @include font(46px, 800, 60px);
  }

  .section-subtitle {
    @include font(20px, 700, 28px);
  }

  .description {
    @include font(18px, 500, 28px);
  }
}
