.about{
    padding-top: 40px;
    padding-bottom: 40px;
    
}

.about__title{
    margin-bottom: 20px;
    @include font(20px, 800, 26px);
    letter-spacing: 0.03em;

    color: var(--dark-text-color);
}

.about__block{
    padding-top: 20px;
}

.about__subtitle{
    position: relative;
    margin-bottom: 28px;

    @include font(20px, 800, 24px);
    letter-spacing: 0.08em;

    color: var(--dark-text-color);

    &::after{
        position: absolute;
        display: block;
        bottom: -8px;

        width: 100%;
        height: 1px;

        content: "";
        background: var(--grey-text-color);
    }
}

.about__list{
    position: relative;
    margin-bottom: 70px;

    &::after{
        position: absolute;
        display: block;
        bottom: -38px;

        width: 20px;
        height: 2px;

        content: "";
        background: var(--accent-color);
    }
}

.about__items{
    position: relative;
    padding-left: 27px;

    @include font(14px, 600, 17px);
    letter-spacing: 0.06em;

    color: var(--dark-text-color);

    &::before{
        position: absolute;
        top: 0;
        left: 0;

        width: 17px;
        height: 14px;
    
        content: " ";
        background-image: url('../images/check-mark.svg');
    }

    &:not(:last-child){
        margin-bottom: 20px;
    }
}

.about__text{
    margin-bottom: 8px;
}

.about__description{
    @include font(12px, 500, 20px);

    color: var(--grey-text-color);
}

.about__link{
    @include font(12px, 500, 20px);

    color: var(--accent-color);
    text-decoration: underline;

    border: none;
    background-color: transparent;
    padding: 0;

    cursor: pointer;
}

@media screen and (min-width:768px){
    .about__wrapper {
        display: flex;       
    }

    .about__block{
        max-width: 436px;
        margin-left: 60px;
        padding-top: 0;
    }

    .about__title{
        margin-bottom: 40px;
        @include font(26px, 800, 34px);
    }

    .about__list{
        margin-bottom: 74.5px;

        &::after{
            bottom: -55px;
            
            content: "";
        }
    }

    .about__items{
        @include font(12px, 500, 16px);

        &:not(:last-child){
            margin-bottom: 30px;
        }
    }

    .about__description{
        @include font(10px, 500, 20px);
    }

    .about__text{
        margin-bottom: 30px;
    }

}

@media screen and (min-width:1680px){
    .about{
        padding-top: 83px;
        padding-bottom: 117px;
    }

    .about__block{
        max-width: 668px;
        margin-left: 172px;
    }

    .about__title{
        margin-bottom: 80px;
        @include font(46px, 800, 60px);
    }

    .about__block{
        display: flex;
        flex-direction: column;
    }

    .about__subtitle{
        margin-bottom: 48px;
        @include font(30px, 800, 37px);

        &::after{
            bottom: -16px;
        }
    }

    .about__list{
        margin-bottom: 0;
    
        &::after{
            width: 24.41px;
    
            content: "";
        }
    }

    .about__items{
        padding-left: 59px;
        @include font(16px, 600, 20px);

        &::before{
            width: 24.41px;
            height: 20px;
        
            content: " ";
            background-repeat: no-repeat;
            background-size: contain;
        }
    
        &:not(:last-child){
            margin-bottom: 32px;
        }
    }

    .about__text{
        margin-top: auto;
        // margin-bottom: 45px;
    }

    .about__description{
        @include font(18px, 500, 28px);

        &:not(:last-child){
            margin-bottom: 20px;
        }
    }

    .about__link{
        @include font(18px, 500, 28px);
    }

}

.backdrop {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 250ms var(--timing-function),
        visibility 250ms var(--timing-function);

    &.is-hidden {
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
    }
}

.about__modal {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 50%;
    left: 50%;
    padding: 30px 15px 15px 15px;

    width: 100%;
    background-color: var(--main-body-background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms var(--timing-function);

    .backdrop.is-hidden & {
        transform: translate(-50%, -50%) scale(0.9);
    }

    @media screen and (min-width:400px){
            width: 400px;
    }

    @media screen and (min-width:1680px){
        padding-top: 35px;
            width: 840px;
    }
}

.about__close-btn {
    position: absolute;
    padding: 0;
    top: 5px;
    right: 5px;
    width: 15px;
    height: 15px;

    background: var(--dark-text-color);
    border: none;
    cursor: pointer;

    // @media screen and (min-width:1680px){
    //     top: 10px;
    //     right: 10px;
    //     width: 20px;
    //     height: 20px;
    // }
}

.about__close-icon{
    width: 15px;
    height: 15px;
    // fill: var(--dark-text-color);

    // @media screen and (min-width:1680px){
    //     width: 20px;
    // }
}



