.advantages__item {
    position: relative;
}

.advantages__item::before {
display: inline-block;
content: " ";
background-repeat: no-repeat;
background-size: contain;
width: 59px;
height: 60px;
}

.advantages__item_female-student::before {
    background-image: url('../images/advantages/female-student-mobile.svg');
}

.advantages__item_learning::before {
    background-image: url('../images/advantages/learning-mobile.svg');
}

.advantages__item_insurance::before {
    background-image: url('../images/advantages/insurance-mobile.svg');
}

.advantages__item:not(:last-child) {
    margin-bottom: 24px;
}

.advantages__title {
    position: absolute;
    top: 7px;
    left: 66px;
    font-size: 14px;
    line-height: 1.64; 
    letter-spacing: 0.08em;
    color: var(--dark-text-color);
}