.footer__bg-light {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}

.container__bg-light {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__bg-dark {
  padding-top: 24px;
  padding-bottom: 24px;
  text-align: center;
  background-color: var(--dark-body-background-color);
}

@media screen and (max-width: 767px) {

  .logo-mobile {
    margin-bottom: 20px;
  }

  .logo {
    display: none;
  }

  .footer__tel {
    margin-bottom: 20px;
  }
}

  .footer__tel {
    display: flex;
    align-items: center;

    @include font(14px, 600, 17px);
    letter-spacing: 0.08em;
    color: var(--dark-text-color);
  }

  .footer__icon-phone {
    margin-right: 8px;
    width: 20px;
    height: 19px;
  }

  .footer__social-link {
    display: inline-block;
    background-image: url('../images/instagram.svg');
    width: 40px;
    height: 40px;
  }

  .footer__copyright {
    @include font(14px, 500, 28px);
    color: var(--grey-text-color);
  }

// ================== 768+ ==================

@media screen and (min-width: 768px) {
  .footer__bg-light {
    text-align: left;
  }

  .container__bg-light {
    flex-direction: row;
    justify-content: space-between;
  }

  .logo-mobile {
    display: none;
  }

  .logo {
    @include font(26px, 800, 32px);
    letter-spacing: 0.04em;
    color: var(--dark-text-color);
  }

  .logo__title {
    display: flex;
    margin-bottom: 3px;
  }

  .logo__icon {
    margin-left: 4px;
    margin-right: 4px;
  }

  .logo__subscription {
    margin-left: 2px;
    @include font(8px, 700, 10px);
    letter-spacing: 0.18em;
    text-transform: uppercase;
  }

  .logo__subscription_accent {
    color: var(--accent-color);
  }

  .footer__right-side {
    display: flex;
    align-items: center;
  }

  .footer__tel {
    padding-right: 24px;
    margin-right: 24px;
    height: 40px;
    @include font(20px, 600, 24px);
    border-right: 1px solid var(--grey-text-color);
  }

  .footer__icon-phone {
    width: 24px;
    height: 23px;
  }
}

// =================== 1680+ ===================

@media screen and (min-width: 1680px) {
  .footer__bg-light {
    padding-top: 83px;
    padding-bottom: 80px;
  }

  .container__bg-light {
    justify-content: flex-start;
  }

  .logo {
    margin-right: 452px;
  }

  .footer__tel {
    @include font(30px, 600, 37px);
  }

  .footer__icon-phone {
    margin-right: 16px;
    width: 30px;
    height: 29px;
  }

  .footer__bg-dark {
    padding-top: 26px;
    padding-bottom: 27px;
  }
}
