.guarantee__title {
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--dark-text-color);

  margin-bottom: 40px;
  @media screen and (max-width: 1679.99px) {
    @include font(26px, 800, 34px);
  }
  @media screen and (min-width: 1680px) {
    @include font(46px, 800, 60px);
  }
}
.guarantee__list {
  @media screen and (max-width: 767.99px) {
    padding: 40px 60px;
  }
  @media screen and (min-width: 768px) {
    padding: 32px 58px 32px 87px;
  }
  @media screen and (min-width: 1680px) {
    padding: 60px 280px;
  }
  background-color: var(--light-body-background-color);
}
.guarantee__item {
  display: inline-flex;
  align-items: baseline;
  position: relative;

  &::before {
    content: '';
    background-image: url('../images/small-fire.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    background-color: var(--light-body-background-color);
    @media screen and (max-width: 1679.99px) {
      top: 0;
      left: -7px;
      height: 20px;
      width: 15px;
    }
    @media screen and (min-width: 1680px) {
      top: -5px;
      left: -10px;
      height: 30px;
      width: 22px;
    }
  }

  // &:not(:last-child) {
  //   padding-bottom: 24px;
  // }
}
.guarantee__text-block {
  border-left: 1px dashed var(--grey-text-color);
  padding-bottom: 24px;
  padding-left: 23px;
  @media screen and (min-width: 768px) {
    padding-left: 32px;
  }
  @media screen and (min-width: 1680px) {
    padding-left: 41px;
  }
}
.guarantee__last-text-block {
  border-left: 0 dashed var(--grey-text-color);
}
.guarantee__icon-fire {
  @media screen and (max-width: 1679.99px) {
    width: 15px;
    height: 20px;
    margin-right: 22px;
  }
  @media screen and (min-width: 1680px) {
    width: 22px;
    height: 30px;
    margin-right: 30px;
  }
}
.guarantee__text {
  @media screen and (max-width: 1679.99px) {
    @include font(12px, 500, 20px);
  }
  @media screen and (min-width: 1680px) {
    @include font(20px, 500, 28px);
  }
  color: var(--dark-decorative-color);
  vertical-align: baseline;
}
.guarantee__star,
.guarantee__accent-text {
  color: var(--accent-color);
}
