 @media screen and (min-width: 320px) and (max-width: 479px) {
     .header-container {
         display: flex;

         align-items: center;

         padding: 20px;
     }

     .modal-menu__open {
         margin-left: auto;
         background-color: transparent;
         border: none;
     }

     .modal-menu {
         position: fixed;
         background-color: rgba(17, 21, 24, 0.9);
         top: 0;
         width: 100vw;
         height: 100vh;
         z-index: 10;
         padding: 20px;
     }


 }