.hero {
    display: flex;
    background-image:  url('../images/hero-bg-img/hero-bg-img@1x-mobile.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-position: 0 bottom;

    @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            background-image: url('../images/hero-bg-img/hero-bg-img@2x-mobile.png');
        }

    @media screen and (min-width:768px) {
            background-image: url('../images/hero-bg-img/hero-bg-img@1x-tablet.png');
        }
            
    @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            background-image: url('../images/hero-bg-img/hero-bg-img@2x-tablet.png');
                        }

        @media screen and (min-width:1680px) {
                background-image: url('../images/hero-bg-img/hero-bg-img@1x-desktop.png');
        }
    
        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
                background-image: url('../images/hero-bg-img/hero-bg-img@2x-desktop.png');
            }
}

.hero-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 130%;
    margin-bottom: 8px;
    
    color: var(--dark-body-background-color);  
}

.text-first,
.text-second,
.text-third {
font-family: var(--primary-font-family);
font-weight: 500;
flex-direction: column;
letter-spacing: 0.08em;

}

.text-first {
    color: var(--grey-text-color);
}

.text-second {
    font-weight:bold;
    color: var(--primary-font-family);
}

.text-third {
    font-weight:bold;
}



.hero-text {
    margin-bottom: 40px;
}

img {
    display: inline;
}

@media screen and (max-width:767.98px) {
    .hero {
        padding-top: 20px;
        padding-bottom: 60px;
    }
    .hero__content {
        margin-bottom: 40px;
    }

    .hero-btn {
        width: 100%;
    }

    .hero-img {
        text-align: center;
    }

    .hero-button {
        text-align: center;
    }
    
}

@media screen and (min-width:768px) {
    .hero {
        display: block;
        padding-top: 60px;
        padding-bottom: 43.91px;
    }

    .hero-container {
        display: flex;
    }

    .hero-content {
        text-align: left;
    }
    
    .hero-text {
        margin-bottom: 48px;
    }

    .hero-button {
        text-align: left;
    }

}
@media screen and (max-width:1679.98px) {
    .hero-title {
        font-size: 26px;
    }

    .hero-btn {
        height: 48px;
        width: 260px;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.08em;

        padding-bottom: 14px;
        padding-top: 14px;
    }

    .text-first,
    .text-second,
    .text-third { 
        display: flex;  
    font-size: 14px;
    line-height: 1.57;
    }

    .text-third {
        color: var(--accent-color);
     }
}

@media screen and (min-width:1680px) {
    .hero {
    padding-top: 20px;
    padding-bottom: 5.92px;
    }

    .hero-img {
    margin-left: auto;
    }

    .hero-title {
    font-size: 58px;
    width: 560px;
    padding-top: 40px;
    }

    .text-first,
    .text-second,
    .text-third {   
    font-size: 20px;
    line-height: 1.57;
    }

    .text-third {

    color: var(--dark-body-background-color);
    }

    .hero-btn {
        width: 354px;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.14em;

        padding-top: 27px;
        padding-bottom: 26px;
        padding-right: 70px;
        padding-left: 70px;
    }
}
