.how-do-we-do{
    padding-bottom: 40px;
    padding-top: 44px;
}
.title-theme-dark{
    margin-bottom: 32px;
    text-align: center;
    font-weight: 800;
    font-size: 20px;
    line-height: 1.30;
    letter-spacing: var(--headers-letter-spacing);
    color: var(--dark-text-color);
}
.task-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.task-list_item{
    width: 280px;
    background-color: var(--body-background-color);
    box-shadow: 0px 8px 26px rgba(0, 0, 0, 0.1);
    transition: background-color 250ms var(--timing-function);

    &:hover ,
    &:focus{
    background-color: var(--accent-color);
}
}
.wrap-task-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px 0px 20px;
}
.task-icon{
    fill: var(--accent-color);
    transition: fill 250ms var(--timing-function);

    .task-list_item:hover &,
    .task-list_link:focus &{
        fill: var(--white-text-color);
    }
}
.wrap-task-text{
    text-align: center;
    letter-spacing: 0.08em; 
}
.task-title{
    position: relative;
    padding-bottom: 40px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.43;
    color: var(--dark-text-color);
    transition: color 250ms var(--timing-function);

    .task-list_item:hover &,
    .task-list_link:focus &{
        color: var(--white-text-color);
    }
}
.task-title::after{
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);    
    margin-top: 20px;
    width: 20px;
    height: 2px;
    background-color: var(--accent-color);
    transition: background-color 250ms var(--timing-function);

    .task-list_item:hover &,
    .task-list_link:focus &{
        background-color: var(--white-text-color);
    }
}
.task-description{
    font-weight: 500;
    font-size: 12px;
    line-height: 1.67;
    color: var(--grey-text-color);
    transition: color 250ms var(--timing-function);

    .task-list_item:hover &,
    .task-list_link:focus &{
        color: var(--white-text-color);
    }
}

@media screen and (max-width:767px) {
    .task-list_item:not(:last-child){
        margin-bottom: 16px;
    }
    .wrap-task-text{
        padding: 0px 11px 25px;
    }
}
@media screen and (min-width: 768px){
    .task-list{
    margin-top: -32px;
    margin-left: -32px;
    }
    .task-title{
    padding-bottom: 48px;
    }
    .wrap-task-text{
        padding: 0px 14px;
    }
    .task-list_item{
    height: 336px;
    flex-basis: calc((100% - 2*32px) / 2);
    margin-top: 32px;
    margin-left: 32px; 
    }
    .wrap-task-icon{
        padding: 40px 0px 32px;;
    }
}
@media screen and (min-width: 1680px){
    .task-list_item{
    height: 492px;
    flex-basis: calc((100% - 3*32px) / 3);
    }
    .title-theme-dark{
    text-align: left;
    font-size: 46px;
    }
    .task-title{
        font-size: 20px;
    }
    .task-description{
        font-size: 18px;
        line-height: 1.56;
    }
    .wrap-task-icon{
        padding: 90px 0px 32px;
    }
    .wrap-task-text{
        padding: 32px 82px 90px;
    }
}