.reviews {
  padding-top: 40px;
  padding-bottom: 40px;
}

.reviews-name {
  margin-bottom: 24px;

  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--dark-text-color);
}

.user-name {
  margin-bottom: 16px;

  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 1.21;
  text-align: center;
  letter-spacing: 0.08em;

  color: var(--accent-color);
}

.user-education {
  margin-bottom: 16px;

  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.25;
  text-align: center;
  letter-spacing: 0.08em;

  color: var(--grey-text-color);
}

.feed-back {
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  text-align: center;

  color: var(--dark-decorative-color);
}

.photo-set__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-card__wrapper {
  text-align: center;
}

.user-card__image-wrapper {
  margin-bottom: 24px;
}

.main-user-photo {
  display: inline-block;
}

.social-link {
  cursor: pointer;
}

.photo-set__item {
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 30%;

  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }
}

.photo-set_link:hover,
.photo-set_link:focus {
  border-color: var(--accent-color);
}

.arrow-btn {
  position: absolute;
  padding: 0;
  border: 0;
  background-color: transparent;
}

@media screen and (max-width: 767px) {
  .photo-set__item {
    &:nth-child(n + 4) {
      display: none;
    }

    &:nth-child(-n + 2) {
      margin-right: 12px;
    }
  }

  // .photo-set__item:nth-child(n + 4) {
  //   display: none;
  // }

  // .photo-set__item:not(:last-child) {
  //   margin-right: 12px;
  // }

  .arrow-btn.left {
    left: 15px;
  }

  .arrow-btn.right {
    right: 15px;
  }

  .photo-set__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .user-name__wrapper {
    padding-left: 22px;
    padding-right: 25px;
  }

  .user-card__arrow-btn {
    display: none;
  }

  .user-card__wrapper {
    margin-bottom: 24px;
  }

  .article {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .article {
    display: flex;
    padding: 40px 50px;
    margin-bottom: 20px;
    background-color: var(--white-text-color);
    box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
  }

  .container__wrapper {
    position: relative;
  }

  .arrow-btn.left {
    top: 50%;
    left: 0;
  }

  .arrow-btn.right {
    top: 50%;
    right: 0;
  }

  .user-card__wrapper {
    min-width: 150px;
    margin-right: 44px;
  }

  .user-card__image-wrapper {
    margin-bottom: 20px;
  }

  .reviews-name {
    margin-bottom: 40px;

    font-size: 26px;
  }

  .user-name {
    margin-bottom: 20px;

    font-size: 20px;
    line-height: 1.2;
    text-align: left;
  }

  .user-education {
    margin-bottom: 20px;
    text-align: left;
  }

  .photo-set__arrow-btn {
    display: none;
  }

  .user-name__wrapper {
    margin-right: 20px;
  }

  .user-card__arrow-btn.left {
    margin-right: 20px;
  }

  .photo-set__item:not(:last-child) {
    margin-right: 32px;
  }

  .feed-back {
    max-width: 706px;
    font-size: 12px;
    line-height: 1.67;
    text-align: left;
  }

  .reviews-name__brake {
    display: none;
  }
}

@media screen and (min-width: 1680px) {
  .reviews {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .reviews-container {
    max-width: 1233px;
  }

  .reviews-name {
    margin-bottom: 40px;
    font-size: 46px;
  }

  .user-name {
    margin-bottom: 8px;
    font-size: 30px;
    line-height: 1.23;
  }

  .user-education {
    max-width: 482px;
    font-size: 14px;
    line-height: 1.21;
    text-align: left;
    color: var(--grey-text-color);
  }

  .feed-back {
    max-width: 706px;
    font-size: 18px;
    line-height: 1.56;
    text-align: left;
  }

  .user-card__wrapper {
    margin-right: 40px;
  }

  .photo-set__item:not(:last-child) {
    margin-right: 40px;
  }

  .article {
    justify-content: center;
    margin-bottom: 40px;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
