.reviews__name {
  padding-top: 40px;
  padding-bottom: 24px;

  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--dark-text-color);
}

.user-name {
  padding-bottom: 16px;

  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 1.21;
  text-align: center;
  letter-spacing: 0.08em;

  color: var(--accent-color);
}

.user-education {
  padding-bottom: 16px;

  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.25;
  text-align: center;
  letter-spacing: 0.08em;

  color: var(--grey-text-color);
}

.feed-back {
  margin-bottom: 40px;

  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  text-align: center;

  color: var(--dark-decorative-color);
}

.photo-set__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo-set__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-bottom: 40px;
}

.arrow-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: 0;
  background-color: transparent;
}

@media screen and (max-width: 479px) {
  .photo-set__item {
    &:nth-child(n + 4) {
      display: none;
    }

    &:nth-child(-n + 2) {
      margin-right: 12px;
    }
  }

  // .photo-set__item:nth-child(n + 4) {
  //   display: none;
  // }

  // .photo-set__item:not(:last-child) {
  //   margin-right: 12px;
  // }
}

.user-card__wrapper {
  margin-bottom: 24px;
}

.user-card__image-wrapper {
  margin: 0 auto;
  margin-bottom: 24px;
}

.social-link {
  display: inline-block;
}
